

.wrapper {
    position: relative;
    background-color: #34313b;
    width:1200px;
    margin: auto;
}


.header{
    position:relative;
    text-align: center;
    color: #e6e6e6;
    font-size: 15px;
    width: 500px;
    margin: auto;

}






.ui-icon-singlelamp:after{
    background-image:url("./../images/birne.png");
    width: 30px;
    height: 30px;


}

.tabmenu_text{
}
/* small screen */
@media screen and (max-width:1200px) {
    .wrapper {
        position: relative;
        width:90%;
        background-color: #00aaff;
        margin: auto;
    }
}





/* Smartphones */
@media screen and (max-width:700px) {

    .wrapper {
        position: relative;
        width:600px;
        background-color: #00aaff;
        margin: auto;
    }



}

