

.wrapper {
    position: relative;
    width:1000px;
    margin: auto;
}

.header{
    text-align: center;
    font-size: 20px;
    text-shadow: none;
    color: #b3b3b3;
    background-color: rgba(236, 236, 236, 0.2) !important;

}

.header_title{
    margin: auto !important;
}

.header_left_icon{
    float: left;
    padding:5px;
}
.header_right_icon{
    float: right;
    padding:5px;
}

.icon-arrow-left{
    background-image: url("images/icons/icon-arrow-left-red.png");
}

.horizontal_button_view{
    width: 27%;
}

.no_padding{
    padding:0px !important;
}




.btn-round-corner{
    border-radius:20px;
}

.button{
    border: none !important;
    color: #800000 !important;
    text-shadow:1px 1px #b3b3b3 !important;
}

button:hover
{
    background-color: rgba(236, 236, 236, 0.8) !important;
    color:white;
}

button:active{
    background-color: rgba(236, 236, 236, 0.8) !important;

}

.background_red{
    background: linear-gradient(120deg, #bc3b24, #ce1d18, #f8c33c) !important;
}

.background_stars{
    background-image: url(images/himmel.png);
}

.transparent_bg{
    background-color: rgba(236, 236, 236, 0.5) !important;
}

.main_menu_transparent_bg{
    background-color: rgba(236, 236, 236, 0.6) !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main_menu_text{
    font-size:18px;
    padding-top: 6px;
}

.notification{
    margin-top: 5px;
    padding: 6px;
    border-color: #800000;
    border-style: dotted;
    border-width: 1px;
    background-color: #faeeec;
    color: #800000;
    text-align: center;
    margin-bottom: 10px;
    min-height: 40px;
    font-size: 13px;
    font-weight: normal;
}

.overlap{
    z-index:1;
    background-color: rgba(100, 100, 100, 0.5) !important;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}

.overlap_content{
    z-index:2;
    background-color: rgba(128, 0, 0, 0.8) !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height: 150px;
}

.overlap_arrow_down{
    text-align:center;
    padding-top:5px
}


.overlap_list{
    padding:5px;
    background-color: #faeeec;
    color: #800000;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    overflow: hidden;
    horizontal-align: middle;
}

.lightgroup_name_edit{
    float:right;
    width:35px;
    padding-top: 2px;
}

.lightgroup_name_input{
    margin-right:45px;
}


.light_wrapper{
    position: relative;
    height:220px;
    width:150px;
    margin:auto;
    max-width: 100%;
}

.light_wrapper_69width{
    position: relative;
    height:97px;
    width:69px;
    margin:auto;
    max-width: 100%;
}

.light_color{
    position: absolute;
    width:150px;
    height:150px;
    border-radius: 200px;
    max-width: 100%;
}

.light_color_69width{
     position: absolute;
     width:69px;
     height:69px;
     border-radius: 200px;
     max-width: 100%;
}

.light_template{
    position: absolute;
    max-width: 100%;
}


.light_group{
    padding:5px;
    font-weight: bold;
    line-height: 65px;
    vertical-align:middle;
    text-align: center;
    overflow: hidden;
}

.light_group_img{
    float: left;
    padding: 5px;
}

.light_group_a{
    float: right;
    margin-top: 20px;
}

.group_wrapper{
    position: relative;
    height:170px;
    width:150px;
    margin:auto;
    max-width: 100%;
}

.favorites_wrapper{
    position: relative;
    display: inline-block;
    height: 32px;
    width:32px;
    padding:8px;

}

.light_favorites{
    position: absolute;
    top:0px;
    left:0px;
    max-width: 100%;
    display:inline-block;

}
.light_favorites_star_color{
    position: absolute;
    top:0px;
    left:0px;
    max-width: 100%;
    width:32px;
    height:32px;
    border-radius: 32px;

}

.settings_wrapper{
    height:140px;
    width:90px;
    float:left;
    margin: 3px;
    margin-bottom:30px;
}

.settings_wrapper_small{
    display: inline-block;
    height:50px;
    width:40px;
    margin: 3px;
}

.settings_icon{
    height:80px;
    width:80px;
    padding:5px
}

.settings_icon_small{
    height:40px;
    width:40px;
    padding:0px
}

.settings_label{
    border-radius:10px;
    line-height:40px;
    width:80px;
    float:left;
    padding:5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.settings_headerline{
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;

}

.settings_details{
    padding:8px;
    overflow:hidden;

}


/* small screen */
@media screen and (max-width:1100px) {
    .wrapper {
        position: relative;
        width:90%;
        margin: auto;
    }
}

/* Smartphone */
@media screen and (max-width:500px) {

    .wrapper {
        position: relative;
        width:90%;
    }
}




/*** AngularJS directives ***/

/* slider */

.slider {
    position:relative;
    overflow:hidden;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
}

.slider-brightness .slider-track{
    background-color: transparent;
    background: linear-gradient(90deg, #000000, #ffffff);
}


.slider-brightness .slider-handle{
    background-color:rgba(255,255,255,0.8)
}

.slider-fading .slider-track{
    border-radius:5px;
    border-color: #a00000;
    border: solid 1px;
    background-color: #faeeec;
}

.slider-fading .slider-handle{
    background-color:rgba(160,0,0,0.8)
}

.slider-track {
    height:16px;
    margin:8px 0;
    background-color:rgba(255,255,255,0.8);
}

.slider-handle-container {
    position:absolute;
    top:0;
    left:8px;
    right:8px;
    height:32px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.slider-handle {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    width:16px;
    height:30px;
    margin:0 -8px;
    background-color:rgba(255,255,255,0.5);
}

.slider.vertical {
    width:32px;
    height:210px;
    -ms-touch-action:none;
    touch-action:none;
    margin:0 16px;
}

.slider.vertical .slider-track {
    height:100%;
    margin:0 8px;
}

.slider.vertical .slider-handle-container {
    top:16px;
    left:0;
    bottom:16px;
    width:32px;
    height:auto;
}

.slider.vertical .slider-handle {
    margin:-16px 0;
}

/* colorpicker */

.colorpicker {
    position:relative;
    height:112px;
    background-image:url(images/colorpicker.png);
    background-size:100% 100%;
    opacity:0.75;
    margin-bottom:8px;
    overflow:hidden;
    cursor:pointer;
    -ms-touch-action:none;
    touch-action:none;
}

.colorpicker-handle-container {
    position:absolute;
    top:16px;
    left:16px;
    right:16px;
    bottom:16px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.colorpicker-handle {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    width:32px;
    height:32px;
    margin:-16px;
    border:4px solid rgba(20,20,20,0.5);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}