<!DOCTYPE html>
<html lang="de" ng-app="hueApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SmartLights</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/redtheme.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.icons-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>

    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <!-- JavaScript -->
    <script src="./js/scripts/jquery-1.10.2.js"></script>
    <script src="./js/scripts/jquery.mobile-1.4.0.js"></script>
    <script src="./js/scripts/angular-1.3.0-beta.js"></script>
    <script src="./js/scripts/angular-route.js"></script>
    <script src="./js/scripts/jqm-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Controller -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/controllers/lightandgroupctrl.js"></script>
    <script src="./js/controllers/partyctrl.js"></script>
    <script src="./js/controllers/scenectrl.js"></script>
    <script src="./js/controllers/speechctrl.js"></script>
    <script src="./js/controllers/automationctrl.js"></script>

    <!-- Favicon and Touch-Icons -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="css/images/touch/152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="css/images/touch/120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="css/images/touch/76.png" />
    <link rel="apple-touch-icon-precomposed"
          href="css/images/touch/57.png" />

    <meta name="msapplication-TileImage"
          content="css/images/touch/256.png" />
    <meta name="msapplication-TileColor" content="#141414" />

</head>
<body>

<div data-role="page" ngm-shared-controller="sharedScope:MainCtrl"  class="background_stars" data-theme="b">
    <!-- HEADER -->
    <div data-role="header" class="header">
        <div class="header_container tablet_hide">
            <div class="logout_icon icon_left icon_40px" ng-show="sharedScope.state.user.loginRequired" ng-click="sharedScope.user.logout()"></div>
            <h1 class="ui-title">Smart Lights</h1>
        </div>
        <!---------------------------------------- MOBILE MAINMENU ---------------------------------------------------->
        <div class="tablet_show mobile_menu_wrapper">
            <a href="lightandgroup.html" class="smallmenu_wrapper">
                <div class="light_icon icon_40px" style="margin:0px"></div>
            </a>
            <a href="scenes.html" class="smallmenu_wrapper">
                <div class="scene_icon icon_40px" style="margin:0px"></div>
            </a>
            <a href="automationoverview.html" class="smallmenu_wrapper">
                <div class="automation_dark_icon icon_40px" style="margin:0px"></div>
            </a>
            <a href="party.html" class="smallmenu_wrapper">
                <div class="party_icon icon_40px" style="margin:0px"></div>
            </a>
            <a href="settings.html" class="smallmenu_wrapper">
                <div class="settings_icon icon_40px" style="margin:0px"></div>
            </a>
        </div>
    </div>


    <!-- CONTENT -->
    <div data-role="content" ng-controller="AutomationCtrl" class="content_container">
        <!---------------------------------------- DESKTOP MENU ------------------------------------------------------->
        <div class="content_left_subcontainer tablet_hide">

            <a href="lightandgroup.html" class="ui-btn main_menu_transparent_bg button" style="margin-top: 0px">
                <div class="light_icon icon_40px icon_left"></div>
                <div class="main_menu_text panel">
                    Lights & Groups
                </div>
            </a>
            <a href="scenes.html" class="ui-btn main_menu_transparent_bg button">
                <div class="scene_icon icon_40px icon_left"></div>
                <div class="main_menu_text panel">
                    Scenes
                </div>
            </a>
            <a href="automationoverview.html" class="ui-btn main_menu_transparent_bg button checked_menubox">
                <div class="automation_icon icon_40px icon_left"></div>
                <div class="main_menu_text panel">
                    Automation
                </div>
            </a>
            <a href="party.html" class="ui-btn main_menu_transparent_bg button">
                <div class="party_icon icon_40px icon_left"></div>
                <div class="main_menu_text panel">
                    Party
                </div>
            </a>
            <a href="account.html" class="ui-btn main_menu_transparent_bg button">
                <div class="settings_icon icon_40px icon_left" style="padding: 0px"></div>
                <div class="main_menu_text panel">Settings</div>
            </a>
        </div>

        <!---------------------------------------- NOTIFICATIONS ------------------------------------------------------>
        <a href="rfid.html" class="notification" ng-if="sharedScope.rfid.unknownRfid">
            <div class="warning_icon icon_32px icon_left"></div>
            New RFID-Tag available.
        </a>




        <div class="content_right_subcontainer" style="text-align: center; margin: auto; overflow:hidden">
            <!-- AUTOMATION LIST -------------------------------------------------------------------------------------->
            <div class="subcontent_a">
                <div class="transparent_bg listing_box" style="max-width:100%;">
                    <div class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline
                        light_group_a listing_box_icon position_plus_icon" ng-click="sharedScope.submenu.openSubmenu('createAutomation')">
                    </div>
                    <h2 class="listing_box_title">Automation</h2>
                    <div class="light_group" ng-repeat="(id,a) in sharedScope.state.automation"
                         style="background-color: rgba(236, 236, 236, 0.2) !important; border-radius:5px;margin:5px">

                        <div class="automationoverview_name">
                            <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext
                                ui-btn-inline light_group_a" style="margin-top: 9px; float:right"
                                  ng-click="automation.setSelectedAutomationId(id);sharedScope.submenu.openSubmenu('deleteAutomation')">
                            </span>
                            <a href="automation.html?id={{id}}" class="panel panel_layout_fix" style="margin-right:50px; margin-top: 0px;line-height: 46px; padding: 0px;">
                                {{a.name}}
                            </a>
                        </div>
                        <div class="checkbox_container automationoverview_activecheckbox" ng-click="automation.toggleActive(id)">
                            <div class="checkbox_box">
                                <img src="./css/images/checkbox-true.png" style="float: left" ng-show="a.active">
                            </div>
                            <div style="margin-left: 40px">
                                Active
                            </div>
                        </div>

                        <div ng-repeat="trigger in a.triggers" class="mobile_hide">

                            <div ng-switch="trigger.type">
                                <div ng-switch-when="light">
                                    <img src="./css/images/icons/light-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="motion">
                                    <img src="./css/images/icons/motion-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="speech">
                                    <img src="./css/images/icons/speech-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="schedule">
                                    <img src="css/images/icons/clock-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="periodical">
                                    <img src="./css/images/icons/periodical-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="rfid">
                                    <img src="./css/images/icons/rfid-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="device">
                                    <img src="./css/images/icons/device-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                                <div ng-switch-when="custom">
                                    <img src="./css/images/icons/custom-icon.svg" class="light_group_img" style="margin:5px; width:40px; height:40px">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <!------------------------ SUBMENUES: delete/create Automation -------------------------------------------->
            <div class="subcontent_d">
                <!-- delete automation -->
                <div ng-if="sharedScope.submenu.visible.deleteAutomation" id="deleteAutomation">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                        light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title">Do you want to remove the automation
                            "{{sharedScope.state.automation[automation.selectedAutomationId].name}}"?
                        </h2>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="automation.remove(automation.selectedAutomationId)">YES</button>
                        <button class="ui-btn ui-icon-delete ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="sharedScope.submenu.closeSubmenu()">NO</button>
                    </div>
                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <a href="automationoverview.html"><img src="css/images/icons/icon-arrow-down.png"></a>
                        </div>
                        <div style="text-align: center; color: #f9efed">Do you want to remove the automation
                            "{{sharedScope.state.automation[automation.selectedAutomationId].name}}"?
                        </div>
                        <div style="padding:15px; text-align: center">
                            <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner button ui-btn-inline"
                                    ng-click="automation.remove(automation.selectedAutomationId)">YES</button>
                            <button class="ui-btn ui-icon-delete ui-btn-icon-left btn-round-corner button ui-btn-inline"
                                    ng-click="sharedScope.submenu.closeSubmenu()">NO</button>
                        </div>
                    </div>
                </div>

                <!-- create automation -->
                <div ng-if="sharedScope.submenu.visible.createAutomation" id="createAutomation">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide" style="overflow:hidden">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                        light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title">Create Automation</h2>
                        <form ng-submit="automation.create(automation.forms.create)" style="padding: 8px;">
                            <div style="line-height: 50px; font-weight: bold; width:50%; float: left">
                                Please insert the name...
                            </div>
                            <div style="width:45%; float:right">
                                <input type="text" ng-model="automation.forms.create.name" required />
                            </div>

                            <div style="text-align: center; margin: auto; width:100%; float: right; margin-bottom:15px">
                                <button type="submit" class="ui-btn ui-icon-plus ui-btn-icon-left btn-round-corner transparent_bg button"
                                        ng-disabled="!automation.forms.create.name.length" style="max-width: 250px; text-align: center; margin:auto">done</button>
                            </div>
                        </form>
                    </div>
                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <a href="automationoverview.html"><img src="css/images/icons/icon-arrow-down.png"></a>
                        </div>
                        <div style="padding:20px; text-align: center; margin:auto">
                            <form ng-submit="automation.create(automation.forms.create)">
                                <div style="text-align: center; color: #f9efed">
                                    Please insert the name...
                                </div>
                                <input type="text" ng-model="automation.forms.create.name" required />
                                <button type="submit" class="ui-btn ui-icon-plus ui-btn-icon-left btn-round-corner button"
                                        ng-disabled="!automation.forms.create.name.length" style="text-align: center;
                                        margin:auto; margin-top:15px;">done</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
</body>
</html>