<!DOCTYPE html>
<html lang="de" ng-app="hueApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartLights</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/redtheme.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.icons-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>

    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <!-- JavaScript -->
    <script src="./js/scripts/jquery-1.10.2.js"></script>
    <script src="./js/scripts/jquery.mobile-1.4.0.js"></script>
    <script src="./js/scripts/angular-1.3.0-beta.js"></script>
    <script src="./js/scripts/angular-route.js"></script>
    <script src="./js/scripts/jqm-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Controller -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/controllers/lightandgroupctrl.js"></script>
    <script src="./js/controllers/partyctrl.js"></script>
    <script src="./js/controllers/scenectrl.js"></script>
    <script src="./js/controllers/speechctrl.js"></script>
    <script src="./js/controllers/automationctrl.js"></script>

    <!-- Favicon and Touch-Icons -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="css/images/touch/152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="css/images/touch/120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="css/images/touch/76.png" />
    <link rel="apple-touch-icon-precomposed"
          href="css/images/touch/57.png" />

    <meta name="msapplication-TileImage"
          content="css/images/touch/256.png" />
    <meta name="msapplication-TileColor" content="#141414" />

</head>


<body>

<div data-role="page" ngm-shared-controller="sharedScope:MainCtrl" class="background_stars" data-theme="b">
    <!-- HEADER -->
    <div data-role="header" class="header">
        <div class="header_container">
            <h1 class="ui-title">SmartLights - Connection</h1>
        </div>

    </div>

    <!-- CONTENT -->
    <div data-role="content" class="content_container">
        <div class="bridgeconnection_box" ng-if="!sharedScope.state.connect.hue">
            <h2 class="listing_box_title" style="text-align: center">Can't find Bridge.</h2>
            Please make sure that your bridge is connected to your network.
        </div>
        <div class="bridgeconnection_box"  ng-if="sharedScope.state.connect.hue && !sharedScope.state.connect.hueRegistered">
            <h2 class="listing_box_title" style="text-align: center">Bridge is not connected.</h2>
            Please press the link button on your bridge.
        </div>
        <div class="bridgeconnection_box" ng-if="!sharedScope.state.connect.mongodb">
            <h2 class="listing_box_title" style="text-align: center">Can't find MongoDB.</h2>
            Please make sure that your MongoDB is started.
        </div>
    </div>

</div>
</body>
</html>