<!DOCTYPE html>
<html lang="de" ng-app="hueApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SmartLights</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>
    <link rel="stylesheet" href="./css/firsttry.css"/>

    <!--
    <link rel="stylesheet" href="./css/jquery.mobile-1.4.0.css"/>
    -->
    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <!-- JavaScript -->
    <script src="./js/jquery-1.10.2.js"></script>
    <script src="./js/jquery.mobile-1.4.0.js"></script>

    <script src="./js/angular-1.0.8.js"></script>

    <script src="./js/jquery-mobile-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/app.js"></script>

</head>

<body ng-controller="MainCtrl">

<div data-role="page" class="background" data-theme="b">

    <div class="header">
        <h1>Lampenmenü</h1>

        <div data-role="navbar">
            <ul>
                <li class="ui-select"><a href="lampsandgroups.html"><img src="./images/birne.png">Lampen & Gruppen</a></li>
                <li><a href="" data-theme="a"><img src="./images/birne.png">Zeitschaltuhr</a></li>
                <li><a href="" data-theme="a"><img src="./images/birne.png">Sensoren</a></li>
                <li><a href="" data-theme="a"><img src="./images/birne.png">Party Modus</a></li>
                <li><a href="properties.html" data-theme="a"><img src="./images/birne.png">Einstellungen</a></li>
            </ul>
        </div>
    </div>


    <div data-role="content">

        <div class="inline">
            <h2>Lampenname: {{state.lights[1].name}}</h2>
        </div>

        <form ng-submit="lights.setName(id, light.name)" >
            <input type="text" ng-model="state.lights[1].name" />
            <input type="submit" value="umbenennen" />
        </form>



        <h3>Gruppen: </h3>



        <div class="inline" ng-repeat="groupID in lights.getGroups(1)">
            <h4>Gruppennname: {{state.groups[groupID].name}}</h4>
        </div>

















    </div><!-- Ende Content-->


    <!-- Footer -->
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="index.html">Start</a></li>
                <li><a href="">Impressum</a></li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>