<!DOCTYPE html>
<html lang="de" ng-app="hueApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartLights</title>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <link rel="stylesheet" href="./css/jquery.mobile-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.icons-1.4.0.css"/>
    <link rel="stylesheet" href="./css/firsttry.css"/>

    <!-- JavaScript -->
    <script src="./js/scripts/jquery-1.10.2.js"></script>
    <script src="./js/scripts/jquery.mobile-1.4.0.js"></script>
    <script src="./js/scripts/angular-1.0.8.js"></script>
    <script src="./js/scripts/jquery-mobile-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <!-- Controller -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/controllers/lightandgroupctrl.js"></script>
    <script src="./js/controllers/partyctrl.js"></script>
    <script src="./js/controllers/scenectrl.js"></script>
    <script src="./js/controllers/speechctrl.js"></script>


</head>

<body>

<div data-role="page" ngm-shared-controller="sharedScope:MainCtrl">

    <div class="header">
        <h2>{{sharedScope.test}}Lampen & Gruppen</h2>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="navbar">
            <ul>
                <li><a href="lightandgroup.html"><img src="css/images/birne.png"></a></li>
                <li><a href=""><img src="css/images/birne.png"></a></li>
                <li><a href=""><img src="css/images/birne.png"></a></li>
                <li><a href=""><img src="css/images/birne.png"></a></li>
                <li><a href="properties.html" data-theme="a"><img src="css/images/birne.png"></a></li>
            </ul>
        </div><!-- /navbar -->


        <span class="ui-btn-inline"><h3>Lampen</h3></span>
        <button class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext" style="float: right"></button>
        <br>
        <div class="ui-btn-inline horizontal_button_view">
            <a href="light.html"class="ui-btn ui-corner-all ui-icon-singlelamp ui-btn-icon-top">Beispiellampe</a>
        </div>
        <br>
        <div ng-repeat="l in state.lights" class="ui-btn-inline horizontal_button_view">
            <a href="light.html?lamp={{l.name}}"class="ui-btn ui-corner-all ui-icon-singlelamp ui-btn-icon-top">{{l.name}}</a>
        </div>

        <br>
        <br>


        <span class="ui-btn-inline"><h3>Gruppen</h3></span>
        <button class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext"  style="float: right"></button>
        <br>
        <div class="ui-btn-inline horizontal_button_view">
            <a href="group.html"class="ui-btn ui-corner-all ui-icon-singlelamp ui-btn-icon-top">Beispielgruppe</a>
        </div>
        <div ng-repeat="g in state.groups" class="ui-btn-inline horizontal_button_view">
            <a href="group.html?group={{g.name}}"class="ui-btn ui-corner-all ui-icon-singlelamp ui-btn-icon-top">{{g.name}}</a>
        </div>



    </div><!-- /content -->

<div data-role="footer" data-position="fixed" style="text-align: center">
    <h4>Impressum</h4>
</div><!-- /footer -->

</div>
</body>
</html>
