<!DOCTYPE html>
<html lang="de" ng-app="hueApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartLights</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/redtheme.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.icons-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>

    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <!-- JavaScript -->
    <script src="./js/scripts/jquery-1.10.2.js"></script>
    <script src="./js/scripts/jquery.mobile-1.4.0.js"></script>
    <script src="./js/scripts/angular-1.3.0-beta.js"></script>
    <script src="./js/scripts/angular-route.js"></script>
    <script src="./js/scripts/jqm-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Controller -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/controllers/lightandgroupctrl.js"></script>
    <script src="./js/controllers/partyctrl.js"></script>
    <script src="./js/controllers/scenectrl.js"></script>
    <script src="./js/controllers/speechctrl.js"></script>

</head>

<body>

<div data-role="page" ngm-shared-controller="sharedScope:MainCtrl" class="background_red" data-theme="b">
<!-- HEADER -->
    <div data-role="header" data-position="fixed">
        <div><a href="index.html">
            <img src="css/images/icons/icon-menu-red.png" class="header_right_icon">
        </a></div>
        <h2 class="header_title">Lights & Groups</h2>
    </div>


<!-- CONTENT -->
    <div data-role="content" ng-controller="LightAndGroupCtrl">


    <!-- NOTIFICATIONS -->
        <div class="notification" ng-if="sharedScope.submenu.visible.notificationGroupDeleted">
            <img src="css/images/icons/icon-warning.png" class="header_left_icon">
            The selected group was deleted.
        </div>
        <div class="notification" ng-if="sharedScope.submenu.visible.notificationGroupDeletedNoLightLeft">
            <img src="css/images/icons/icon-warning.png" class="header_left_icon">
           The selected group was deleted, because there was no light left.
        </div>


    <!--  MENU-->
        <div class="transparent_bg" style="padding:7px">

        <!-- LIGHT menu -->
            <div>
                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext ui-btn-inline light_group_a" style="float:right; margin-top: -1px"></span>
                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-power ui-btn-icon-notext ui-btn-inline light_group_a" style="float:right; margin-top: -1px"
                      ng-click="lights.turnAllLightsOnOff()"></span>
                <h2>Lights</h2>
            </div>
            <div ng-repeat="(id, light) in sharedScope.state.lights" class="ui-btn-inline horizontal_button_view"
                 style="text-align:center">
                <a href="light.html?id={{id}}"  style="text-decoration: none">
                <div class="light_wrapper_69width">
                    <div class="light_color_69width" hueper-color="sharedScope.state.lights[id].state"></div>
                    <div class="light_template">
                        <img src="./css/images/transparent_light_69width.png">
                    </div>
                </div>
                {{light.name}}
                </a>
            </div>

        <!-- GROUP menu -->
            <div style="padding-top: 25px">
                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext
                    ui-btn-inline light_group_a" style="float:right"></span>
                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline
                light_group_a" style="float:right" ng-click="sharedScope.submenu.openSubmenu('createNewGroup')"></span>
                <h2>Groups</h2>
            </div>
            <div class="light_group" ng-repeat="(id, group) in sharedScope.state.groups">
                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext
                    ui-btn-inline light_group_a" ng-click="groups.openDeleteMenuGroup(id, 'deleteGroup')"></span>
                <a href="group.html?id={{id}}" style="text-decoration: none">
                <img src="./css/images/transparent_group_small.png" class="light_group_img">
                {{group.name}}
                </a>
            </div>
        </div>



    <!-- SUBMENU - delete group -->
        <div ng-if="sharedScope.submenu.visible.deleteGroup">
            <div class="overlap" ng-click="sharedScope.submenu.closeSubmenu()"></div>
            <div class="overlap_content">
                <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                    <a href="lightandgroup.html"><img src="css/images/icons/icon-arrow-down.png"></a>
                </div>
                <div style="text-align: center; color: #f9efed">Do you want to remove the group
                     "{{sharedScope.state.groups[groups.selectedGroupId].name}}"?</div>
                <div style="padding:20px; text-align: center">
                    <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner transparent_bg button
                        ui-btn-inline" ng-click="groups.remove(groups.selectedGroupId)">YES</button>
                    <button class="ui-btn ui-icon-delete ui-btn-icon-left btn-round-corner transparent_bg button
                        ui-btn-inline" ng-click="sharedScope.submenu.closeSubmenu()">NO</button>
                </div>
            </div>
        </div>


    <!-- SUBMENU - create new group add Lights-->
        <div ng-if="sharedScope.submenu.visible.createNewGroup">
            <div class="overlap" ng-click="sharedScope.submenu.closeSubmenu()"></div>
            <div class="overlap_content">
                <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                    <a href="lightandgroup.html"><img src="css/images/icons/icon-arrow-down.png"></a>
                </div>
                <div style="padding:20px; text-align: center">

                    <form ng-submit="groups.create(groups.forms.create)">

                <div style="text-align: center; color: #f9efed">
                    Please insert the new groupname...
                </div>

                <input type="text" ng-model="groups.forms.create.name" required />

                <div style="text-align: center; color: #f9efed;">
                    ...and add at least one light.
                </div>



                    <div class="overlap_list" ng-repeat="(id, light) in sharedScope.state.lights" style="padding:10px; margin-top:10px;">
                        <input type="checkbox" name="checkbox"  ng-checked="helpers.listChecked(groups.forms.create.lights,
                            id, true)" ng-click="helpers.toggleList(groups.forms.create.lights, id, true)">{{light.name}}
                    </div>




                    <button type="submit" class="ui-btn ui-icon-plus ui-btn-icon-left btn-round-corner transparent_bg button"
                            ng-disabled="!groups.forms.create.lights.length" ng-click="sharedScope.submenu.closeSubmenu()">
                    done </button>

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>
