<!DOCTYPE html>
<html lang="de" ng-app="hueApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartLights</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/redtheme.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.icons-1.4.0.css"/>
    <link rel="stylesheet" href="./css/jquery.mobile.structure-1.4.0.css"/>

    <link type="text/css" rel="stylesheet" href="./css/layout.css"/>

    <!-- JavaScript -->
    <script src="./js/scripts/jquery-1.10.2.js"></script>
    <script src="./js/scripts/jquery.mobile-1.4.0.js"></script>
    <script src="./js/scripts/angular-1.3.0-beta.js"></script>
    <script src="./js/scripts/angular-route.js"></script>
    <script src="./js/scripts/jqm-angular-adapter-modified.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Controller -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/controllers/lightandgroupctrl.js"></script>
    <script src="./js/controllers/partyctrl.js"></script>
    <script src="./js/controllers/scenectrl.js"></script>
    <script src="./js/controllers/speechctrl.js"></script>
    <script src="./js/controllers/automationctrl.js"></script>


    <!-- Favicon and Touch-Icons -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="css/images/touch/152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="css/images/touch/120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="css/images/touch/76.png" />
    <link rel="apple-touch-icon-precomposed"
          href="css/images/touch/57.png" />

    <meta name="msapplication-TileImage"
          content="css/images/touch/256.png" />
    <meta name="msapplication-TileColor" content="#141414" />

</head>
<body>

<div data-role="page" ngm-shared-controller="sharedScope:MainCtrl"  class="background_stars" data-theme="b">
    <!-- HEADER -->
    <div data-role="header" class="header">
        <div class="header_container tablet_hide">
            <img src="./css/images/icons/icon-menu-logout.png" class="header_left_icon" ng-click="sharedScope.user.logout()"
                 ng-show="sharedScope.state.user.loginRequired">
            <h1 class="ui-title">Smart Lights</h1>
        </div>
        <!---------------------------------------- MOBILE MENU -------------------------------------------------------->
        <div class="tablet_show mobile_menu_wrapper">
            <a href="lightandgroup.html" class="smallmenu_wrapper">
                <div class="smallmenu_icon">
                    <img src="./css/images/icons/icon-light-40.png">
                </div>
            </a>
            <a href="scenes.html" class="smallmenu_wrapper">
                <div class="smallmenu_icon">
                    <img src="./css/images/icons/icon-scene-dark-40.png">
                </div>
            </a>
            <a href="automationoverview.html" class="smallmenu_wrapper">
                <div class="smallmenu_icon">
                    <img src="./css/images/icons/icon-automation-40.png">
                </div>
            </a>
            <a href="party.html" class="smallmenu_wrapper">
                <div class="smallmenu_icon">
                    <img src="./css/images/icons/icon-party-40.png">
                </div>
            </a>
            <a href="settings.html" class="smallmenu_wrapper">
                <div class="smallmenu_icon">
                    <img src="./css/images/icons/icon-settings-40.png">
                </div>
            </a>
        </div>
    </div>




    <!-- CONTENT -->
    <div data-role="content" ng-controller="SceneCtrl" class="content_container">
        <!---------------------------------------- DESKTOP MENU ------------------------------------------------------->
        <div class="content_left_subcontainer tablet_hide">
            <a href="lightandgroup.html" class="ui-btn main_menu_transparent_bg button" style="margin-top: 0px">
                <img src="./css/images/icons/icon-light-40.png" class="light_group_img no_padding">
                <div class="main_menu_text panel">Lights & Groups</div>
            </a>
            <a href="scenes.html" class="ui-btn main_menu_transparent_bg button checked_menubox">
                <img src="./css/images/icons/icon-scene-40.png" class="light_group_img no_padding">
                <div class="main_menu_text panel">Scenes</div>
            </a>
            <a href="automationoverview.html" class="ui-btn main_menu_transparent_bg button">
                <img src="./css/images/icons/icon-automation-40.png" class="light_group_img no_padding">
                <div class="main_menu_text panel">
                    Automation
                </div>
            </a>
            <a href="party.html" class="ui-btn main_menu_transparent_bg button">
                <img src="./css/images/icons/icon-party-40.png" class="light_group_img no_padding">
                <div class="main_menu_text panel">
                    Party
                </div>
            </a>
            <a href="account.html" class="ui-btn main_menu_transparent_bg button">
                <img src="./css/images/icons/icon-settings-40.png" class="light_group_img no_padding">
                <div class="main_menu_text panel">
                    Settings
                </div>
            </a>
        </div>

        <!---------------------------------------- NOTIFICATIONS -------------------------------------------------->
        <div class="notification" ng-if="sharedScope.submenu.visible.notificationSceneDeleted" ng-click="sharedScope.submenu.closeSubmenu()">
            <img src="css/images/icons/icon-warning.png" class="header_left_icon">Scene deleted.
        </div>
        <div class="notification" ng-if="sharedScope.submenu.visible.notificationLightRemoved" ng-click="sharedScope.submenu.closeSubmenu()">
            <img src="css/images/icons/icon-warning.png" class="header_left_icon">Light removed.
        </div>
        <div class="notification" ng-if="sharedScope.submenu.visible.notificationNoLightToAdd" ng-click="sharedScope.submenu.closeSubmenu()">
            <img src="css/images/icons/icon-warning.png" class="header_left_icon">All lights included.
        </div>


        <div class="content_right_subcontainer" style="text-align: center; margin: auto; overflow:hidden">
            <!---------------------------------------------------- SCENE NAME ----------------------------------------->
            <div class="subcontent_a">
                <div class="lightgroup_name_edit">
                                <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline"
                                      ng-click="scenes.update(helpers.urlId, state.scenes[helpers.urlId])"></span>
                </div>
                <div class="lightgroup_name_input"><input type="text" ng-model="state.scenes[helpers.urlId].name"></div>
            </div>

            <!---------------------------------------------------- LIGHTS LIST ---------------------------------------->
            <div class="subcontent_b">
                <div class="transparent_bg listing_box">
                    <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline
                        light_group_a listing_box_icon" ng-click="sharedScope.submenu.openSubmenu('addLightToScene')">
                    </span>
                    <h2 class="listing_box_title">Lights</h2>
                    <div class="light_group" ng-repeat="(id, light) in state.scenes[helpers.urlId].lights">
                        <div class="light_wrapper_69width" style="float:left" ng-click="sharedScope.submenu.openSubmenu('changeSceneColor');
                            lights.setSelectedLightId(sharedScope.state.scenes[helpers.urlId].lights[id].light);
                            scenes.setSelectedArrayId(id)">
                            <div class="light_color_69width" hueper-color="sharedScope.state.scenes[helpers.urlId].lights[id].state"></div>
                            <div class="light_template"><img src="./css/images/transparent_light_69width.png"></div>
                        </div>
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline light_group_a"
                            ng-click="scenes.openDeleteMenuScene(helpers.urlId, sharedScope.state.scenes[helpers.urlId].lights[id].light, '')"></span>
                        {{sharedScope.state.lights[sharedScope.state.scenes[helpers.urlId].lights[id].light].name}}
                    </div>
                </div>
            </div>


            <!------------------------------------ SUBMENUE add light, delete light, delete last light ---------------->

            <div class="subcontent_d">

                <!-- SUBMENU ----------------------------------------- DELETE LIGHT FROM SCENE ------------------------>
                <div ng-if="sharedScope.submenu.visible.deleteLightFromScene">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                                light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title">Do you want to remove the light "{{sharedScope.state.lights[helpers.urlId].name}}"?</h2>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="scenes.removeLight(state.scenes[helpers.urlId], helpers.urlId,'')">YES</button>
                        <button class="ui-btn ui-icon-delete ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="sharedScope.submenu.closeSubmenu()">NO</button>
                    </div>

                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <img src="css/images/icons/icon-arrow-down.png">
                        </div>
                        <div style="text-align: center; color: #f9efed">
                            Do you want to remove the light "{{sharedScope.state.lights[scenes.selectedLightId].name}}"?
                        </div>
                        <div style="padding:20px; text-align: center">
                            <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline button"
                                    ng-click="scenes.removeLight(state.scenes[helpers.urlId], scenes.selectedLightId,'')">YES</button>
                            <button class="ui-btn ui-icon-delete ui-btn-icon-left btn-round-corner ui-btn-inline button"
                                    ng-click="sharedScope.submenu.closeSubmenu()">NO</button>
                        </div>
                    </div>
                </div>

                <!-- SUBMENU ----------------------------------------- DELETE LAST LIGHT FROM SCENE ------------------->
                <div ng-if="sharedScope.submenu.visible.deleteLastLightFromScene">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide ">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                            light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title">This scene will be deleted completely.</h2>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="scenes.remove(helpers.urlId)">delete scene</button>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="sharedScope.submenu.closeSubmenu()">keep scene</button>
                    </div>

                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <img src="css/images/icons/icon-arrow-down.png">
                        </div>
                        <div style="text-align: center; color: #f9efed">This scene will be deleted completely.
                            <div style="padding:20px; text-align: center">
                                <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner button ui-btn-inline"
                                        ng-click="scenes.remove(helpers.urlId)">delete scene</button>
                                <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner button ui-btn-inline"
                                        ng-click="sharedScope.submenu.closeSubmenu()">keep scene</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMENU ----------------------------------------- ADD LIGHT TO SCENE ----------------------------->
                <div ng-if="sharedScope.submenu.visible.addLightToScene">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                            light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title">Which lights should be added?</h2>
                        <div style="padding:7px; width:45%; text-align: center; margin:auto">
                            <button class="button transparent_bg" style="text-align: center;margin: auto;margin-bottom: 10px"
                                    ng-repeat="(id, light) in scenes.filterUnused(sharedScope.state.scenes[helpers.urlId].lights, 'addLightToScene')"
                                    ng-click="scenes.addLight(sharedScope.state.scenes[helpers.urlId], id);
                                            scenes.update(sharedScope.state.scenes[helpers.urlId])">{{light.name}}</button>
                            <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner transparent_bg button ui-btn-inline"
                                    ng-click="sharedScope.submenu.closeSubmenu()" style="text-align: center; margin:auto; margin-top:10px">done</button>
                        </div>
                    </div>

                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <img src="css/images/icons/icon-arrow-down.png">
                        </div>
                        <div style="text-align: center; color: #f9efed">Which lights should be added?</div>

                        <div style="padding:10px; width:45%; text-align: center; margin:auto">
                            <button class="button" style="text-align: center;margin: auto;margin-bottom: 10px"
                                    ng-repeat="(id, light) in scenes.filterUnused(sharedScope.state.scenes[helpers.urlId].lights, 'addLightToScene')"
                                    ng-click="scenes.addLight(sharedScope.state.scenes[helpers.urlId], id);
                                            scenes.update(sharedScope.state.scenes[helpers.urlId])">{{light.name}}</button>
                            <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner button ui-btn-inline"
                                    ng-click="sharedScope.submenu.closeSubmenu()" style="text-align: center; margin:auto; margin-top:10px">done</button>
                        </div>
                    </div>
                </div>

                <!-- SUBMENU ----------------------------------------- CHANGE SCENECOLOR ------------------------------>
                <div ng-if="sharedScope.submenu.visible.changeSceneColor">
                    <!-- desktop/tablet view -->
                    <div class="lightgroup-all-container transparent_bg mobile_hide ">
                        <span class="ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline
                            light_group_a listing_box_icon" ng-click="sharedScope.submenu.closeSubmenu()"></span>
                        <h2 class="listing_box_title"> Choose your color ...</h2>
                        <div style="padding:20px">
                            <div hueper-slider model="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state.bri" min="0" max="254" step="5"
                                 class="slider-brightness"></div>
                            <div hueper-colorpicker state="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state" clean="true"></div>
                            <div hueper-checkbox="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state.effect"
                                 trueval="colorloop" falseval="none"> Activate Colorloop</div>
                        </div>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline transparent_bg button"
                                ng-click="scenes.update(sharedScope.state.scenes[helpers.urlId]); sharedScope.submenu.openSubmenu('openScene')">Save</button>

                    </div>

                    <!-- mobile view -->
                    <div class="overlap mobile_show" ng-click="sharedScope.submenu.closeSubmenu()"></div>
                    <div class="overlap_content mobile_show">
                        <div class="overlap_arrow_down" ng-click="sharedScope.submenu.closeSubmenu()">
                            <img src="css/images/icons/icon-arrow-down.png">
                        </div>
                        <div style="text-align: center; color: #f9efed">Choose your color...</div>
                        <div style="padding:20px">
                            <div hueper-slider model="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state.bri" min="0" max="254" step="5"
                                 class="slider-brightness"></div>
                            <div hueper-colorpicker state="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state" clean="true"></div>
                            <div hueper-checkbox="sharedScope.state.scenes[helpers.urlId].lights[scenes.selectedArrayId].state.effect"
                                 trueval="colorloop" falseval="none"> Activate Colorloop</div>
                        </div>
                        <button class="ui-btn ui-icon-check ui-btn-icon-left btn-round-corner ui-btn-inline button"
                                ng-click="scenes.update(sharedScope.state.scenes[helpers.urlId]); sharedScope.submenu.openSubmenu('openScene')">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
