<!DOCTYPE html>
<html lang="de" ng-app="hueApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Debug-Ansicht</title>

    <style>
        body {
            font-family:Sans-serif;
        }

        h1 {
            border-bottom:1px solid #333;
        }
    </style>

	<script src="/js/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.js"></script>
	
</head>
<body ng-controller="MainCtrl">

<!-- socket -->

<h1>Socket.IO-Status</h1>

<p>in <code>state.socket</code></p>

<p><code>{{state.socket | json}}</code></p>

<p ng-show="!state.socket.connected && !state.socket.wasConnected">Baue Socket.IO-Verbindung auf...</p>
<p ng-show="!state.socket.connected && state.socket.wasConnected">Socket.IO-Verbindung unterbrochen!</p>
<p ng-show="state.socket.connectionFailed">Socket.IO konnte keine Verbindung aufbauen!</p>

<!-- user -->

<h1>User</h1>

<p>in <code>state.user</code></p>

<p><code>{{state.user | json}}</code></p>

<form ng-submit="user.login()" ng-show="!state.user.login && state.user.loginPromptReceived">

    <p><b>Nicht eingeloggt!</b></p>

    <p>
        Passwort:
        <input type="text" ng-model="user.password" />
        <input type="submit" value="Login" />

        <span ng-show="state.user.loginWaiting">Überprüfe Passwort...</span>
        <span ng-show="state.user.loginError">Passwort falsch!</span>
    </p>
</form>

<p ng-show="state.user.loginRequired && state.user.login">
    <button ng-click="user.logout()">Logout</button>
</p>

<!-- notifications -->

<h1>Benachrichtigungen / Fehlermeldungen</h1>

<p>Werden für {{clientConfig.notificationTimeout}} ms angezeigt (ändern in $scope.clientConfig.notificationTimeout)</p>

<div ng-repeat="n in notifications">
    <span ng-if="n.error"><b>Fehler</b>: {{n.error}}</span>
    <span ng-if="n.notification"><b>Notification</b>: {{n.notification}}</span>
</div>

<!-- connect -->

<h1>Verbindungen des NodeJS</h1>

<p>Status aller Verbindungen/Logins in <code>state.connect</code></p>

<p><code>{{state.connect | json}}</code></p>

<!-- config -->

<h1>Konfiguration</h1>

<h2>Bridge-Konfiguration</h2>

<h3>Benutzer-Verwaltung</h3>

<div ng-repeat="(id, user) in state.config.whitelist">
    {{id}}: {{user.name}} - erstellt {{user['create date']}}

    <span ng-show="user['last use date']">
         - letzte Benutzung {{user['last use date']}}
        <button ng-click="config.deleteUser(id)">löschen</button>
    </span>

    <span ng-show="!user['last use date']">
        <b>aktueller Benutzer</b>
    </span>
</div>

<h3>Weitere Funktionen</h3>

<p>
    <button ng-click="config.pressLinkButton()">Link-Button drücken</button>
</p>

<p ng-show="state.config.swupdate.updatestate == 2">
    Firmware-Update verfügbar: {{state.config.swupdate.url}} {{state.config.swupdate.text}}
    <button ng-click="config.updateFirmware()">anwenden</button>
</p>

<p ng-show="state.config.swupdate.updatestate == 3">
    Firmware-Update wird ausgeführt...
</p>

<h2>Anwendungs-Konfiguration</h2>

<h3>Konfiguration ändern</h3>

<form ng-submit="config.change(state.appConfig)">

    Lampen-Überblendzeit (*100ms): <input type="number" ng-model="state.appConfig.transition" />

    <br />
    <input type="submit" value="speichern" />

</form>

<h3>Passwort ändern</h3>

<form ng-submit="config.changePassword(config.forms.password.oldPassword, config.forms.password.newPassword)">

    <p>
        alt: <input type="text" ng-model="config.forms.password.oldPassword" />
        neu: <input type="text" ng-model="config.forms.password.newPassword" />
        <input type="submit" value="ändern" />
    </p>

    <p ng-show="config.forms.password.error">
        <b>Altes Passwort falsch!</b>
    </p>
    <p ng-show="config.forms.password.success">
        Das Passwort wurde erfolgreich geändert.
    </p>

</form>


<!-- lights -->

<h1>Lichter</h1>

<p>Status in <code>state.lights</code></p>

<div ng-repeat="(id, light) in state.lights">
       <h2>{{id}} - {{light.name}}</h2>

    <p>
        Gruppen: <span ng-repeat="group in lights.getGroups(id)">{{group}} </span>
    </p>

    <p>
        Favoriten: <button ng-repeat="(fid, f) in state.favorites" ng-click="lights.state(id, f.state)">{{f.name}}</button>
    </p>

    <form ng-submit="lights.setName(id, light.name)">
        <input type="text" ng-model="light.name" />
        <input type="submit" value="umbenennen" />
    </form>

    <div ng-show="light.state.reachable">
        on: <input type="checkbox" ng-model="light.state.on" ng-change="lights.state(id, {'on': light.state.on})" /><br />

        <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
            {{name}} <code>[{{val}}]</code> <input type="number" ng-model="light.state[val]" ng-change="lights.stateAttribute(id, val, light.state[val])" /><br />
        </span>

        effect <select ng-model="light.state.effect" ng-change="lights.state(id, {'effect': light.state.effect})">
            <option>none</option>
            <option>colorloop</option>
        </select>
    </div>

    <div ng-show="!light.state.reachable">
        Lampe ausgeschaltet oder nicht in Reichweite
    </div>

</div>

<p>
    <button ng-click="lights.search()">Nach neuen Lampen suchen</button>
    <button ng-click="lights.stateAll({on: true})">Alle an</button>
    <button ng-click="lights.stateAll({on: false})">Alle aus</button>
</p>

<h1>Gruppen</h1>

<div ng-repeat="(id, group) in state.groups">
    <h2>{{id}} - {{group.name}}</h2>

    <p>
        <b>Lampen</b>:

        <span ng-repeat="light in group.lights">
            {{light}}-{{state.lights[light].name}}
        </span>

        <br />

        Letzte Aktion: <code>{{group.action}}</code>

        <br />

        Favoriten: <button ng-repeat="(fid, f) in state.favorites" ng-click="groups.state(id, f.state)">{{f.name}}</button>

        <br />

        <form ng-submit="groups.update(id, group)">
            <input type="text" ng-model="group.name" required />

            <span ng-repeat="(lid, light) in state.lights">
                <input type="checkbox" ng-checked="helpers.listChecked(state.groups[id].lights, lid)" ng-click="helpers.toggleList(state.groups[id].lights, lid)" /> {{lid}}
            </span>

            <input type="submit" value="speichern" />
        </form>

        <button ng-click="groups.remove(id)">Gruppe löschen</button>

        <button ng-click="groups.state(id, {'on': true})">Gruppe an</button>
        <button ng-click="groups.state(id, {'on': false})">Gruppe aus</button>

    </p>

</div>

<h2>Gruppe erstellen</h2>

<form ng-submit="groups.create(groups.forms.create)">
    <input type="text" ng-model="groups.forms.create.name" required />

    <span ng-repeat="(id, light) in state.lights">
        <input type="checkbox" ng-checked="helpers.listChecked(groups.forms.create.lights, id, true)" ng-click="helpers.toggleList(groups.forms.create.lights, id, true)" /> {{id}}
    </span>

    <input type="submit" value="erstellen" ng-disabled="!groups.forms.create.lights.length" />

    {{groups.forms.create}}
</form>

<!-- favorites -->

<h1>Favoriten</h1>

<div ng-repeat="(id, f) in state.favorites">
    <h2>{{id}} - {{f.name}}</h2>

    <p>
        <button ng-click="lights.stateAll(f.state)">alle Lampen</button>
        <button ng-click="favorites.remove(id)">Favorit löschen</button>
    </p>

    <form ng-submit="favorites.update(f)">
        Name: <input type="text" ng-model="f.name" required />
        <br />

        on: <input type="checkbox" ng-model="f.state.isOn" /><br />

        <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
            {{name}} <code>[{{val}}]</code> <input type="number" ng-model="f.state[val]" /><br />
        </span>

        effect <select ng-model="f.state.effect">
            <option>none</option>
            <option>colorloop</option>
        </select>

        <br />
        <input type="submit" value="speichern" />
    </form>
</div>

<h2>Neuen Favorit erstellen</h2>

<p>Auch partielle Status-Änderungen durch Favoriten möglich: nicht alles ausfüllen</p>

<form ng-submit="favorites.create(favorites.forms.create)">
    Name: <input type="text" ng-model="favorites.forms.create.name" required />
    <br />

    on: <input type="checkbox" ng-model="favorites.forms.create.state.isOn" /><br />

        <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
            {{name}} <code>[{{val}}]</code> <input type="number" ng-model="favorites.forms.create.state[val]" /><br />
        </span>

    effect <select ng-model="favorites.forms.create.state.effect">
        <option>none</option>
        <option>colorloop</option>
    </select>

    <br />
    <input type="submit" value="speichern" />
</form>

<!-- scenes -->

<h1>Szenen</h1>

<div ng-repeat="(id, s) in state.scenes">
    <h2>{{id}} - {{s.name}}</h2>

    <p>
        <button ng-click="scenes.apply(id)">anwenden</button>
        <button ng-click="scenes.remove(id)">Szene löschen</button>
    </p>

    Name: <input type="text" ng-model="s.name" required />
    <br />

    <div ng-repeat="l in s.lights">

        <p>
            <b>Lampe: {{l.light}} - {{state.lights[l.light].name}}</b>
            <button ng-click="scenes.removeLight(s, l.light)">entfernen</button>
        </p>

        Favoriten: <button ng-repeat="(fid, f) in state.favorites" ng-click="l.state = f.state">{{f.name}}</button><br />

        on: <input type="checkbox" ng-model="l.state.isOn" /><br />

        <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
            {{name}} <code>[{{val}}]</code> <input type="number" ng-model="l.state[val]" /><br />
        </span>

        effect <select ng-model="l.state.effect">
            <option>none</option>
            <option>colorloop</option>
        </select>
    </div>

    <button ng-repeat="(id, light) in scenes.filterUnused(s.lights)" ng-click="scenes.addLight(s, id)">+ {{id}}/{{light.name}}</button>

    <br />
    <button ng-click="scenes.update(s)">speichern</button>


</div>


<h2>Neue Szene erstellen</h2>


    Name: <input type="text" ng-model="scenes.forms.create.name" required />
    <br />

    <div ng-repeat="l in scenes.forms.create.lights">

        <p>
            <b>Lampe: {{l.light}} - {{state.lights[l.light].name}}</b>
            <button ng-click="scenes.removeLight(scenes.forms.create, l.light)">entfernen</button>
        </p>

        Favoriten: <button ng-repeat="(fid, f) in state.favorites" ng-click="l.state = f.state">{{f.name}}</button><br />

        on: <input type="checkbox" ng-model="l.state.isOn" /><br />

        <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
            {{name}} <code>[{{val}}]</code> <input type="number" ng-model="l.state[val]" /><br />
        </span>

        effect <select ng-model="l.state.effect">
            <option>none</option>
            <option>colorloop</option>
        </select>
    </div>

    <button ng-repeat="(id, light) in scenes.filterUnused(scenes.forms.create.lights)" ng-click="scenes.addLight(scenes.forms.create, id)">+ {{id}}/{{light.name}}</button>

    <br />
    <button ng-click="scenes.create(scenes.forms.create)">speichern</button>

<!-- automation -->

<h1>Automatisierung</h1>


<div ng-repeat="a in state.automation">
    <h2>{{a._id}} - {{a.name}}</h2>

    <button ng-click="automation.remove(a._id)">entfernen</button>

    <br /><br />

    Name: <input type="text" ng-model="a.name" required />
    <br />
    <input type="checkbox" ng-model="a.active" /> aktiv
    <br />
    <input type="checkbox" ng-model="a.single" /> nach Ausführung löschen
    <br />

    <h4>Trigger</h4>

    <div ng-repeat="t in a.triggers">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetTriggerValue(t)">
            <option>light</option>
            <option>motion</option>
            <option>speech</option>
            <option>schedule</option>
            <option>periodical</option>
            <option>rfid</option>
            <option>device</option>
            <option>custom</option>
        </select>

        <button ng-click="helpers.removeFromArray(a.triggers, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.threshold" placeholder="Schwelle (0-100)" />
            </div>
            <!-- motion does not have a value -->
            <div ng-switch-when="speech">
                <input type="text" ng-model="t.value" placeholder="Sprachbefehl" />
            </div>
            <div ng-switch-when="schedule">
                <input type="number" ng-model="t.value.hour" placeholder="Stunde" />
                <input type="number" ng-model="t.value.minute" placeholder="Minute" />
            </div>
            <div ng-switch-when="periodical">
                <input type="number" ng-model="t.value" placeholder="Minuten" />
            </div>
            <div ng-switch-when="rfid">
                <select ng-model="t.value" ng-options="tag.tag as tag.name for (id , tag) in state.rfid"></select>
            </div>
            <div ng-switch-when="device">
                <select ng-model="t.value.address" ng-options="device.address as device.name for (id , device) in state.devices"></select>
                <select ng-model="t.value.action">
                    <option>login</option>
                    <option>logout</option>
                </select>
            </div>
            <div ng-switch-when="custom">
                <input type="text" ng-model="t.value" placeholder="Eigenes Kommando" />
            </div>
        </div>

    </div>

    <button ng-click="a.triggers.push({type: 'light'})">+</button>

    <br /><br />

    <h4>Bedingungen</h4>

    <div ng-repeat="t in a.conditions">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetConditionValue(t)">
            <option>light</option>
            <option>motion</option>
            <option>time</option>
            <option>weekdays</option>
            <option>connections</option>
            <option>rfid</option>
            <option>device</option>
            <option>state</option>
        </select>

        <button ng-click="helpers.removeFromArray(a.conditions, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.threshold" placeholder="Schwelle (0-100)" />
            </div>
            <div ng-switch-when="motion">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Sekunden" />
            </div>
            <div ng-switch-when="time">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.hour" placeholder="Stunde" />
                <input type="number" ng-model="t.value.minute" placeholder="Minute" />
            </div>
            <div ng-switch-when="weekdays">
                <span ng-repeat="(id, day) in {1: 'Montag', 2: 'Dienstag', 3: 'Mittwoch', 4: 'Donnerstag', 5: 'Freitag', 6: 'Samstag', 0: 'Sonntag'}">
                    <input type="checkbox" ng-checked="helpers.listChecked(t.value, id, true)" ng-click="helpers.toggleList(t.value, id, true)" /> {{day}}
                </span>
            </div>
            <div ng-switch-when="connections">
                <input type="checkbox" ng-model="t.value" /> Verbindungen vorhanden
            </div>
            <div ng-switch-when="rfid">
                <select ng-model="t.value.id" ng-options="tag.tag as tag.name for (id , tag) in state.rfid"></select>
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Sekunden" />
            </div>
            <div ng-switch-when="device">
                <select ng-model="t.value.address" ng-options="device.address as device.name for (id , device) in state.devices"></select>
                <br />
                gerade aktiv
                <input type="checkbox" ng-model="t.value.active" />
                (wird verwendet, wenn es einmal angeklickt war)
                <br />
                Alternativ:
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Minuten" />
            </div>
            <div ng-switch-when="state">
                <select ng-model="t.value.type">
                    <option>light</option>
                    <option>all</option>
                    <option>active</option>
                    <option>group</option>
                    <option>scene</option>
                </select>

                <div ng-switch="t.value.type">
                    <div ng-switch-when="light">
                        <select ng-model="t.value.id" ng-options="id as l.name for (id , l) in state.lights"></select>
                    </div>
                    <div ng-switch-when="group">
                        <select ng-model="t.value.id" ng-options="id as g.name for (id , g) in state.groups"></select>
                    </div>
                    <div ng-switch-when="scene">
                        <select ng-model="t.value.id" ng-options="id as s.name for (id , s) in state.scenes"></select>
                    </div>
                </div>

                <div ng-if="t.value.type != 'scene'">
                    on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                    <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                        {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                    </span>

                    effect
                    <select ng-model="t.value.state.effect">
                        <option>none</option>
                        <option>colorloop</option>
                    </select>
                </div>
                <br />

                <input type="checkbox" ng-model="t.value.invert"> invertieren

            </div>

        </div>


    </div>

    <button ng-click="a.conditions.push({type: 'light'})">+</button>

    <br /><br />

    <input type="checkbox" ng-model="a.allConditionsNeeded" /> alle Bedingungen müssen erfüllt sein

    <br /><br />

    <h4>Aktionen</h4>

    <div ng-repeat="t in a.actions">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetActionValue(t)">
            <option>light</option>
            <option>group</option>
            <option>scene</option>
            <option>custom</option>
            <option>cancelDelay</option>
        </select>

        <button ng-click="helpers.removeFromArray(a.actions, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.id" ng-options="id as l.name for (id , l) in state.lights"></select>
                <br />
                on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                    {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                </span>

                effect
                <select ng-model="t.value.state.effect">
                    <option>none</option>
                    <option>colorloop</option>
                </select>
            </div>
            <div ng-switch-when="group">
                <select ng-model="t.value.id" ng-options="id as g.name for (id , g) in state.groups"></select>
                <br />
                on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                    {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                </span>

                effect
                <select ng-model="t.value.state.effect">
                    <option>none</option>
                    <option>colorloop</option>
                </select>
            </div>
            <div ng-switch-when="scene">
                <select ng-model="t.value.id" ng-options="id as s.name for (id , s) in state.scenes"></select>
                Übergang: <input type="number" ng-model="t.value.transition" />
            </div>
            <div ng-switch-when="custom">
                <input type="text" ng-model="t.value" placeholder="Eigener Befehl" />
            </div>
        </div>

        <br />

        Verzögerung: <input type="number" ng-model="t.delay" placeholder="Sekunden" />
    </div>

    <button ng-click="a.actions.push({type: 'light', value: { state: {} }})">+</button>

    <br /><br />

    <button ng-click="automation.update(a)">speichern</button>
</div>






<h2>Neue Automatisierung</h2>
<div>
    Name: <input type="text" ng-model="automation.forms.create.name" required />
    <br />
    <input type="checkbox" ng-model="automation.forms.create.active" /> aktiv
    <br />
    <input type="checkbox" ng-model="automation.forms.create.single" /> nach Ausführung löschen
    <br />

    <h4>Trigger</h4>

    <div ng-repeat="t in automation.forms.create.triggers">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetTriggerValue(t)">
            <option>light</option>
            <option>motion</option>
            <option>speech</option>
            <option>schedule</option>
            <option>periodical</option>
            <option>rfid</option>
            <option>device</option>
            <option>custom</option>
        </select>

        <button ng-click="helpers.removeFromArray(automation.forms.create.triggers, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.threshold" placeholder="Schwelle (0-100)" />
            </div>
            <!-- motion does not have a value -->
            <div ng-switch-when="speech">
                <input type="text" ng-model="t.value" placeholder="Sprachbefehl" />
            </div>
            <div ng-switch-when="schedule">
                <input type="number" ng-model="t.value.hour" placeholder="Stunde" />
                <input type="number" ng-model="t.value.minute" placeholder="Minute" />
            </div>
            <div ng-switch-when="periodical">
                <input type="number" ng-model="t.value" placeholder="Minuten" />
            </div>
            <div ng-switch-when="rfid">
                <select ng-model="t.value" ng-options="tag.tag as tag.name for (id , tag) in state.rfid"></select>
            </div>
            <div ng-switch-when="device">
                <select ng-model="t.value.address" ng-options="device.address as device.name for (id , device) in state.devices"></select>
                <select ng-model="t.value.action">
                    <option>login</option>
                    <option>logout</option>
                </select>
            </div>
            <div ng-switch-when="custom">
                <input type="text" ng-model="t.value" placeholder="Eigenes Kommando" />
            </div>
        </div>

    </div>

    <button ng-click="automation.forms.create.triggers.push({type: 'light'})">+</button>

    <br /><br />

    <h4>Bedingungen</h4>

    <div ng-repeat="t in automation.forms.create.conditions">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetConditionValue(t)">
            <option>light</option>
            <option>motion</option>
            <option>time</option>
            <option>weekdays</option>
            <option>connections</option>
            <option>rfid</option>
            <option>device</option>
            <option>state</option>
        </select>

        <button ng-click="helpers.removeFromArray(automation.forms.create.conditions, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.threshold" placeholder="Schwelle (0-100)" />
            </div>
            <div ng-switch-when="motion">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Sekunden" />
            </div>
            <div ng-switch-when="time">
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.hour" placeholder="Stunde" />
                <input type="number" ng-model="t.value.minute" placeholder="Minute" />
            </div>
            <div ng-switch-when="weekdays">
                <span ng-repeat="(id, day) in {1: 'Montag', 2: 'Dienstag', 3: 'Mittwoch', 4: 'Donnerstag', 5: 'Freitag', 6: 'Samstag', 0: 'Sonntag'}">
                    <input type="checkbox" ng-checked="helpers.listChecked(t.value, id, true)" ng-click="helpers.toggleList(t.value, id, true)" /> {{day}}
                </span>
            </div>
            <div ng-switch-when="connections">
                <input type="checkbox" ng-model="t.value" /> Verbindungen vorhanden
            </div>
            <div ng-switch-when="rfid">
                <select ng-model="t.value.id" ng-options="tag.tag as tag.name for (id , tag) in state.rfid"></select>
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Sekunden" />
            </div>
            <div ng-switch-when="device">
                <select ng-model="t.value.address" ng-options="device.address as device.name for (id , device) in state.devices"></select>
                <br />
                gerade aktiv
                <input type="checkbox" ng-model="t.value.active" />
                (wird verwendet, wenn es einmal angeklickt war)
                <br />
                Alternativ:
                <select ng-model="t.value.relation">
                    <option>&lt;</option>
                    <option>&gt;</option>
                </select>
                <input type="number" ng-model="t.value.time" placeholder="Minuten" />
            </div>
            <div ng-switch-when="state">
                <select ng-model="t.value.type">
                    <option>light</option>
                    <option>all</option>
                    <option>active</option>
                    <option>group</option>
                    <option>scene</option>
                </select>

                <div ng-switch="t.value.type">
                    <div ng-switch-when="light">
                        <select ng-model="t.value.id" ng-options="id as l.name for (id , l) in state.lights"></select>
                    </div>
                    <div ng-switch-when="group">
                        <select ng-model="t.value.id" ng-options="id as g.name for (id , g) in state.groups"></select>
                    </div>
                    <div ng-switch-when="scene">
                        <select ng-model="t.value.id" ng-options="id as s.name for (id , s) in state.scenes"></select>
                    </div>
                </div>

                <div ng-if="t.value.type != 'scene'">
                    on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                    <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                        {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                    </span>

                    effect
                    <select ng-model="t.value.state.effect">
                        <option>none</option>
                        <option>colorloop</option>
                    </select>
                </div>
                <br />

                <input type="checkbox" ng-model="t.value.invert"> invertieren

            </div>

        </div>


    </div>

    <button ng-click="automation.forms.create.conditions.push({type: 'light'})">+</button>

    <br /><br />

    <input type="checkbox" ng-model="automation.forms.create.allConditionsNeeded" /> alle Bedingungen müssen erfüllt sein

    <br /><br />

    <h4>Aktionen</h4>

    <div ng-repeat="t in automation.forms.create.actions">

        Typ:
        <select ng-model="t.type" ng-change="automation.resetActionValue(t)">
            <option>light</option>
            <option>group</option>
            <option>scene</option>
            <option>custom</option>
            <option>cancelDelay</option>
        </select>

        <button ng-click="helpers.removeFromArray(automation.forms.create.actions, $index)">X</button>

        <div ng-switch="t.type">
            <div ng-switch-when="light">
                <select ng-model="t.value.id" ng-options="id as l.name for (id , l) in state.lights"></select>
                <br />
                on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                    {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                </span>

                effect
                <select ng-model="t.value.state.effect">
                    <option>none</option>
                    <option>colorloop</option>
                </select>
            </div>
            <div ng-switch-when="group">
                <select ng-model="t.value.id" ng-options="id as g.name for (id , g) in state.groups"></select>
                <br />
                on: <input type="checkbox" ng-model="t.value.state.on" /><br />

                <span ng-repeat="(val, name) in {'bri': 'Helligkeit (0-254)', 'hue': 'Farbe (0-65535)', 'sat': 'Sättigung (0-254)', 'ct': 'Weiß-Farbtemperatur (153-497)'}">
                    {{name}} <code>[{{val}}]</code> <input type="number" ng-model="t.value.state[val]" /><br />
                </span>

                effect
                <select ng-model="t.value.state.effect">
                    <option>none</option>
                    <option>colorloop</option>
                </select>
            </div>
            <div ng-switch-when="scene">
                <select ng-model="t.value.id" ng-options="id as s.name for (id , s) in state.scenes"></select>
                Übergang: <input type="number" ng-model="t.value.transition" />
            </div>
            <div ng-switch-when="custom">
                <input type="text" ng-model="t.value" placeholder="Eigener Befehl" />
            </div>
        </div>

        <br />

        Verzögerung: <input type="number" ng-model="t.delay" placeholder="Sekunden" />
    </div>

    <button ng-click="automation.forms.create.actions.push({type: 'light', value: { state: {} }})">+</button>

    <br /><br />

    <button ng-click="automation.create(automation.forms.create)">speichern</button>
</div>


<!-- RFID -->

<h1>RFID-Tags</h1>

<h2>Bekannte Tags</h2>

<div ng-repeat="(id, tag) in state.rfid">
    <h3>{{id}} - {{tag.name}}</h3>

    <form ng-submit="rfid.update(tag)">
        Name: <input type="text" ng-model="tag.name" />
        <br />
        Tag-ID: {{tag.tag}}
        <br />
        letze Benutzung: {{tag.lastUsed}}
        <br />

        <input type="submit" value="speichern" /> <button ng-click="rfid.remove(id)">entfernen</button>
    </form>

</div>


<h2>Unbekannte Tags</h2>

<div ng-repeat="id in state.rfidUnknown">
    <h3>{{id}}</h3>

    <form ng-init="tag = { tag: id }" ng-submit="rfid.create(tag)">
        Name: <input type="text" ng-model="tag.name" />
        <input type="submit" value="speichern" />
    </form>
</div>

<button ng-click="rfid.reset()">alle entfernen</button>


<!-- devices -->

<h1>Netzwerk-Geräte</h1>

<p>
    Eigene MAC-Adresse: {{client.address}}
</p>

<form ng-if="devices.isOwnRegistered() === false" ng-init="device = { address: client.address }" ng-submit="devices.create(device)">
    Name: <input type="text" ng-model="device.name" />
    <input type="submit" value="speichern" />
</form>

<h2>Bekannte Geräte</h2>

<div ng-repeat="(id, device) in state.devices">
    <h3>{{id}} - {{device.name}}</h3>

    <form ng-submit="devices.update(device)">
        Name: <input type="text" ng-model="device.name" />
        <br />
        MAC-Adresse: {{device.address}}
        <br />
        letzte Aktivität: {{device.lastActivity}}

        <input type="submit" value="speichern" /> <button ng-click="devices.remove(id)">entfernen</button>
    </form>

</div>


<!-- complete state -->

<h1>Kompletter state</h1>

<p><pre>{{state | json}}</pre></p>

</body>
</html>